
body {
    background-color: blanchedalmond;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.main-login {
    
    
}

.left-login {
     display: flex;
    
     
    
}

.right-login {
    background-color: aqua;
    padding: 70px;
    border: 1px solid black;
    width: fit-content;
    border-radius: 10px;
}

.textfield {
    padding: 5px;
}

.btn-login {
    padding: 20px;
}